.learn-more1 {
  position: absolute;
  top: 15px;
  left: 24px;
  line-height: 150%;
  display: inline-block;
  width: 86px;
  height: 23px;
}
.learn-more {
  position: absolute;
  top: 733px;
  left: 862px;
  border-radius: 4px;
  background-color: var(--dark-orange);
  box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12),
    0px 0px 1px rgba(23, 26, 31, 0.07);
  width: 134px;
  height: 53px;
  text-align: center;
  color: #fff;
}

.box .learn-more:hover{
  background-color: var(--dark-green);
}
.para {
  position: absolute;
  top: 677px;
  left: 862px;
  font-size: 20px;
  line-height: 150%;
  display: inline-block;
  width: 568px;
  height: 27px;
}
.heading {
  margin: 0;
}
.line1 {
  position: absolute;
  top: 624.99px;
  left: 110px;
  font-size: 49px;
  line-height: 150%;
  display: inline-block;
  width: 567px;
}
.imgc1 {
  object-fit: cover;
  width: 100%;
  height: 527px;
  object-fit: cover;
  position: absolute;
}
.box {
  position: relative;
  width: 100%;
  height: 881px;
  overflow: hidden;
  text-align: left;
}
