.latest .main-head {
  margin: 0;
}
.latest .para3 {
  position: absolute;
  top: 609.99px;
  left: 954px;
  font-size: 16px;
  line-height: 150%;
  display: inline-block;
  width: 372px;
  height: 46px;
}
.latest .head3 {
  position: absolute;
  top: 543.13px;
  left: 955.31px;
  font-size: 20px;
  line-height: 150%;
  display: inline-block;
  width: 370.13px;
  height: 58.02px;
}
.latest .sm {
  position: absolute;
  top: 504.99px;
  left: 1047px;
  line-height: 150%;
  display: inline-block;
  width: 95px;
  height: 18px;
}
.latest .category {
  position: absolute;
  top: 4.9px;
  left: 4.69px;
  line-height: 150%;
  display: inline-block;
  width: 67px;
  height: 19px;
}
.latest .category3 {
  position: absolute;
  top: 498.09px;
  left: 951.31px;
  border-radius: 4px;
  background-color: #f7d7cf;
  box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
  width: 90px;
  height: 29.01px;
  text-align: center;
}
.latest .rect3 {
  position: absolute;
  top: 197.99px;
  left: 943px;
  border-radius: 15px;
  background-color: #32859a;
  width: 426px;
  height: 281px;
  mix-blend-mode: color-burn;
}
.latest .c3-icon {
  position: absolute;
  top: 230.99px;
  left: 955px;
  border-radius: 15px;
  width: 405px;
  height: 247px;
  object-fit: cover;
}
.latest .para2 {
  position: absolute;
  top: 610.99px;
  left: 516px;
  font-size: 16px;
  line-height: 150%;
  display: inline-block;
  width: 409px;
  height: 47px;
}
.latest .head2 {
  position: absolute;
  top: 543.13px;
  left: 514.16px;
  font-size: 20px;
  line-height: 150%;
  display: inline-block;
  width: 338.12px;
  height: 58.02px;
}
.latest .sm1 {
  position: absolute;
  top: 504.99px;
  left: 617px;
  line-height: 150%;
  display: inline-block;
  width: 80px;
  height: 18px;
}
.latest .categories {
  position: absolute;
  top: 4.9px;
  left: 10px;
  line-height: 150%;
}
.latest .category2 {
  position: absolute;
  top: 502.99px;
  left: 515px;
  border-radius: 4px;
  background-color: #f7d7cf;
  box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
  width: 93px;
  height: 29.01px;
  text-align: center;
}
.latest .rect1 {
  position: absolute;
  top: 196.99px;
  left: 506px;
  border-radius: 15px;
  background-color: #32859a;
  width: 426px;
  height: 281px;
  mix-blend-mode: color-burn;
}
.latest .c3-icon1 {
  position: absolute;
  top: 230.99px;
  left: 515px;
  border-radius: 15px;
  width: 408px;
  height: 247px;
  object-fit: cover;
}
.latest .para1 {
  position: absolute;
  top: 610.99px;
  left: 78px;
  font-size: 16px;
  line-height: 150%;
  display: inline-block;
  width: 338px;
  height: 47px;
}
.latest .head1 {
  position: absolute;
  top: 543.13px;
  left: 78px;
  font-size: 20px;
  line-height: 150%;
  display: inline-block;
  width: 338.12px;
  height: 58.02px;
}
.latest .sm2 {
  position: absolute;
  top: 502.99px;
  left: 181px;
  line-height: 150%;
  display: inline-block;
  width: 80px;
  height: 18px;
}
.latest .category1 {
  position: absolute;
  top: 498.09px;
  left: 77px;
  border-radius: 4px;
  background-color: #f7d7cf;
  box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
  width: 95px;
  height: 29.01px;
  text-align: center;
}
.latest .rect {
  position: absolute;
  top: 196.99px;
  left: 70px;
  border-radius: 15px;
  background-color: #32859a;
  width: 426px;
  height: 281px;
  mix-blend-mode: color-burn;
}
.latest .c2-icon {
  position: absolute;
  top: 230.99px;
  left: 77px;
  border-radius: 15px;
  width: 408px;
  height: 247px;
  object-fit: cover;
}
.latest .sm-head1 {
  position: absolute;
  top: 134.99px;
  left: 75px;
  font-size: 16px;
  line-height: 150%;
  display: inline-block;
  width: 517px;
  height: 23px;
}
.latest  .head {
  position: absolute;
  top: 62.99px;
  left: 77px;
  font-size: 49px;
  line-height: 150%;
  display: inline-block;
  width: 855px;
  height: 55px;
}
.latest .sm-head {
  position: absolute;
  top: 45.99px;
  left: 78px;
  font-size: 16px;
  line-height: 150%;
  display: inline-block;
  width: 56px;
  height: 18px;
}
  .latest {
  position: relative;
  width: 100%;
  height: 785px;
  overflow: hidden;
  text-align: left;
  margin-top: 90px;
  left: 30px;
}

