.event2 .apply {
  position: absolute;
  cursor: pointer;
  top: 5px;
  left: 24px;
  font-size: 13px;
  line-height: 150%;
  text-align: center;
}
.event2 .apply8 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #f4f4f4;
  position: absolute;
  top: 402px;
  left: 1247px;
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
  width: 83px;
  height: 27px;
}
.event2 .date4 {
  position: absolute;
  top: 418px;
  left: 88px;
  line-height: 150%;
}
.event2 .event4 {
  position: absolute;
  top: 396.5px;
  left: 88px;
  font-size: 16px;
  line-height: 150%;
}
.event2 .apply7 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #f4f4f4;
  position: absolute;
  top: 321px;
  left: 1247px;
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
  width: 83px;
  height: 27px;
}
.event2 .date3 {
  position: absolute;
  top: 337px;
  left: 88px;
  line-height: 150%;
}
.event2 .event3 {
  position: absolute;
  top: 315.5px;
  left: 88px;
  font-size: 16px;
  line-height: 150%;
}
.event2 .apply2 {
  position: absolute;
  cursor: pointer;
  top: 4px;
  left: 24px;
  line-height: 150%;
}
.event2 .apply6 {
  position: absolute;
  cursor: pointer;
  top: 242px;
  left: 1247px;
  border-radius: 4px;
  background-color: #f4f4f4;
  box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
  width: 83px;
  height: 26px;
  text-align: center;
}
.event2 .date2 {
  position: absolute;
  top: 257px;
  left: 88px;
  line-height: 150%;
}
.event2 .event21 {
  position: absolute;
  top: 235.5px;
  left: 88px;
  font-size: 16px;
  line-height: 150%;
}
.event2 .date1 {
  position: absolute;
  top: 177px;
  left: 88px;
  line-height: 150%;
}
.event2 .event1 {
  position: absolute;
  top: 65.5px;
  left: 88px;
  font-size: 16px;
  line-height: 150%;
}
.event2 .apply3 {
  position: absolute;
  top: 4px;
  left: 24px;
  font-size: 13px;
  line-height: 150%;
  text-align: center;
}
.event2 .apply5 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #f4f4f4;
  position: absolute;
  top: calc(50% - 92.5px);
  left: 1247px;
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
  width: 83px;
  height: 26px;
}
.event2 .button {
  position: absolute;
  top: 11px;
  left: 15px;
  font-size: 13px;
  line-height: 150%;
  font-family: Inter;
  color: #fff;
  text-align: center;
}
.event2 .see {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: var(--dark-orange);
  position: absolute;
  top: 39px;
  left: 1194px;
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
  width: 127px;
  height: 42px;
}
.event2 .sub-head1 {
  position: absolute;
  top: 58px;
  left: 37px;
  line-height: 150%;
}
.event2 .head1 {
  position: absolute;
  top: 24px;
  left: 37px;
  font-size: 20px;
  line-height: 150%;
}
.event2 .rv {
  position: absolute;
  top: 32px;
  left: 51px;
  border-radius: 4px;
  background-color: #f7d7cf;
  box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
  width: 1337px;
  height: 106px;
  font-size: 16px;
}
.event2 {
  position: relative;
  width: 100%;
  height: 517px;
  overflow: hidden;
  text-align: left;
}