
.wrapper h1 {
  margin: 0;
  font-family: 'Jim Nightshade', cursive;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.wrapper .logo {
  margin: 0;
}

.wrapper .navbar {
  display: flex;
}

.wrapper .nav-head {
  margin: 0;
  padding: 30px 70px;
  cursor: pointer;
}

.wrapper .button {
  background-color: var(--dark-orange);
  border-radius: 5px;
  border: none;
  color: white;
  width: 100px;
  height: 50 px;
  padding: 15px;
  margin: 20px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.6s; 
  margin-right: 20px;
}
.wrapper .button1 {
  background-color: var(--dark-orange);
  border-radius: 5px;
  border: none;
  color: white;
  width: 100px;
  height: 50 px;
  padding: 15px;
  margin: 20px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.6s; 
  margin-right: 20px;
}

.wrapper .button:hover,
.wrapper .button1:hover {
  background-color: var(--dark-green);
}

.wrapper a{
  color: black;
  text-decoration: none;
}

.wrapper a:hover{
  border-radius: 5px;
  text-decoration: underline;
}


@media only screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .wrapper .navbar {
    margin-right: 10px;
  }

  .wrapper .nav-head {
    padding: 10px;
  }

  .wrapper .button {
    width: 100%;
  }
}
